.mainBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.buttonAdd {
    display: flex;
    justify-content: center;
}

@media (max-width: 800px) {
    .buttonAdd {
        display: none;

    }
}